body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
}

.box{
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border: 2px solid #000;
}
